In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import quantstats as qs
import matplotlib.pyplot as plt

from data_loading import *

pd.options.mode.copy_on_write = True

In [ ]:
# 1. 解決太長的欄位
# 2. 將年月日轉換成 DateTime
# 3. 將 (證券代碼, Date) 設定為 index
# 4. 將所有的欄位轉換成數值型態
# 5. 存至 sqlite

In [ ]:

# List of file paths for the 20 CSV files
file_paths = ['./data/raw/2000-2002.csv',
              './data/raw/2002-2004.csv',
              './data/raw/2004-2006.csv',
              './data/raw/2006-2008.csv',
              './data/raw/2008-2010.csv',
              './data/raw/2010-2015.csv',
              './data/raw/2015-2018.csv',
              './data/raw/2018-2020.csv',
              './data/raw/2020-2021.csv', 
              './data/raw/2021-2022.csv',
              './data/raw/2022-2023.csv',
              './data/raw/2023-2024.csv',
              './data/raw/2024-2025.csv',          
              ]  # Add all 20 file paths

# Initialize an empty list to store data frames
dfs = []

# Load and process each data frame
for file_path in file_paths:
    df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
    df['年月日'] = pd.to_datetime(df['年月日'], format='%Y%m%d')
    df.rename(columns={'證券代碼': '證券代碼', '年月日': 'Date', '收盤價(元)': 'Close'}, inplace=True)
    df.set_index(['證券代碼', 'Date'], inplace=True)
    df.sort_index(inplace=True)
    dfs.append(df)

/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))
/var/folders/q_/2nhldr_d2x723c91y7qt5g2r0000gn/T/ipykernel_35157/427788605.py:22: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp950', usecols=range(0, 36))

In [4]:
# Combine all data frames into a single data frame
combined_df = pd.concat(dfs, axis=0) 
combined_df

                           目前狀態  上市別      開盤價(元)      最高價(元)      最低價(元)  \
證券代碼       Date
1101 台泥    2000-02-14  Current   TSE      9.7645      9.7645      9.3075
           2000-02-15  Current   TSE      9.5152      9.8892      9.5152
           2000-02-16  Current   TSE     10.1177     10.3878      9.9723
           2000-02-17  Current   TSE     10.6994     11.1149     10.6994
           2000-02-18  Current   TSE     11.4266     11.5304     10.3878
...                         ...  ...         ...         ...         ...
Y9999 加權指數 2025-02-07       NaN  NaN  23289.9700  23478.2700  23254.1700
           2025-02-08       NaN  NaN         NaN         NaN         NaN
           2025-02-10       NaN  NaN  23421.7700  23448.1600  23163.8500
           2025-02-11       NaN  NaN  23321.9200  23485.5100  23289.7600
           2025-02-12       NaN  NaN  23449.3100  23528.6100  23289.7500

                           收盤價(元)    成交量(千股)      成交值(千元)    週轉率％     市值(百萬元)  \
證券代碼       Date
1101 台泥    2000-02-14      9.4529    36751.0    1694100.0  1.6732     99941.0
           2000-02-15      9.7853    38119.0    1788124.0  1.7354    103455.0
           2000-02-16     10.3878    41592.0    2052362.0  1.8936    109825.0
           2000-02-17     11.1149    26184.0    1386896.0  1.1921    117513.0
           2000-02-18     10.5955    69982.0    3662111.0  3.1861    112022.0
...                           ...        ...          ...     ...         ...
Y9999 加權指數 2025-02-07  23478.2700  5980328.0  362285982.0  0.3475  75236064.0
           2025-02-08         NaN        NaN          NaN     NaN         NaN
           2025-02-10  23252.1400  5799480.0  334793847.0  0.3518  74512302.0
           2025-02-11  23384.0500  5923166.0  355049928.0  0.3859  74935162.0
           2025-02-12  23289.7500  6224128.0  378582968.0  0.4101  74637955.0

                       ...  是否可信用交易(Y)      借券賣出限額  每股融資成本  每股融券成本  融券最後回補日  \
證券代碼       Date        ...
1101 台泥    2000-02-14  ...           Y         NaN   41.49   42.37      NaN
           2000-02-15  ...           Y         NaN   42.18   42.90      NaN
           2000-02-16  ...           Y         NaN   43.05   43.98      NaN
           2000-02-17  ...           Y         NaN   43.71   45.00      NaN
           2000-02-18  ...           Y         NaN   45.58   45.46      NaN
...                    ...         ...         ...     ...     ...      ...
Y9999 加權指數 2025-02-07  ...           N  88981352.0     NaN     NaN      NaN
           2025-02-08  ...         NaN         NaN     NaN     NaN      NaN
           2025-02-10  ...           N  88968090.0     NaN     NaN      NaN
           2025-02-11  ...           N  88998801.0     NaN     NaN      NaN
           2025-02-12  ...           N  88994848.0     NaN     NaN      NaN

                       融資暫停交易起日  融券暫停交易起日  資券暫停交易迄日 恢復交易日 暫停交易原因
證券代碼       Date
1101 台泥    2000-02-14       NaN       NaN       NaN   NaN    NaN
           2000-02-15       NaN       NaN       NaN   NaN    NaN
           2000-02-16       NaN       NaN       NaN   NaN    NaN
           2000-02-17       NaN       NaN       NaN   NaN    NaN
           2000-02-18       NaN       NaN       NaN   NaN    NaN
...                         ...       ...       ...   ...    ...
Y9999 加權指數 2025-02-07       NaN       NaN       NaN   NaN    NaN
           2025-02-08       NaN       NaN       NaN   NaN  補班不交易
           2025-02-10       NaN       NaN       NaN   NaN    NaN
           2025-02-11       NaN       NaN       NaN   NaN    NaN
           2025-02-12       NaN       NaN       NaN   NaN    NaN

[7898063 rows x 34 columns]

In [5]:
otc_stocks = combined_df[combined_df['上市別'] == 'OTC']

pd.to_pickle(otc_stocks, './data/processed/otc_stocks.pkl')

In [6]:
tse_stocks = combined_df[combined_df['上市別'] == 'TSE']
pd.to_pickle(tse_stocks, './data/processed/tse_stocks.pkl')

In [7]:
tse_index = combined_df[combined_df.index.get_level_values('證券代碼') == 'Y9999 加權指數']
pd.to_pickle(tse_index, './data/processed/tse_index.pkl')

In [8]:
otc_index = combined_df[combined_df.index.get_level_values('證券代碼') == 'OTC99 OTC 指數']
pd.to_pickle(otc_index, './data/processed/otc_index.pkl')